<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>

  <body>
    <div id="stories">
      <h1><%= @story[:character].name %></h1>
      <p><%= @story[:character].description %></p>
      <div>
        <img src="<%= @story[:character].thumbnail_url(Thumbnail::PORTRAIT, Thumbnail::INCREDIBLE) %>" />
      </div>
    </div>
    <div id="characters">
      <h2><%= @story[:story].title %></h2>
      <p><%= @story[:story].description %></p>
      <ul>
        <% @story[:characters].each do |character| %>
          <li>
            <div>
              <a href="/?name=<%=character.name%>"><%= character.name %></a>
              <div>
                <img src="<%= character.thumbnail_url(Thumbnail::STANDARD, Thumbnail::FANTASTIC) %>" />
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="box">
      <p><%= @story[:attribution] %></p>
    </div>
  </body>
</html>
