<h1><%= @story[:character].name %></h1>
<p><%= @story[:character].description %></p>
<ul>
  <% @story[:stories].each do |story| %>
    <li><%= story.title %></li>
  <% end %>
</ul>
<ul>
  <% @story[:characters].each do |character| %>
    <li><%= character.id %></li>
    <li><%= character.name %></li>
    <li><%= character.description %></li>
  <% end %>
</ul>
