<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>

  <body>
    <div id="stories">
      <h1><%= @story[:character].name %></h1>
      <p><%= @story[:character].description %></p>
      <h2><%= @story[:story].title %></h2>
      <p><%= @story[:story].description %></p>
    </div>
    <div id="characters">
      <ul>
        <% @story[:characters].each do |character| %>
          <li><%= character.name %></li>
        <% end %>
      </ul>
    </div>
  </body>

</html>
